@use '../../styles/partials/colors' as colors;
@use '../../styles/partials/typography' as typography;
@use '../../styles/partials/breakpoints' as breakpoints;

.header {
  font-family: typography.$base-font-family;
  font-weight: typography.$font-weight-regular;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  overflow: hidden;
  min-height: 48px;

}

@media only screen and (min-width: breakpoints.$tablet-min) {
  .header {
    height: 72px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: breakpoints.$laptop-min) {
  .header {
    width: 88vw;
    margin-top: 24px;
    padding: 0 40px;
  }
}

@media only screen and (min-width: breakpoints.$ultra-wide-screen) {
  .header {
    width: 70vw;
  }
}
