@use '../../styles/partials/colors' as colors;
@use '../../styles/partials/typography' as typography;
@use '../../styles/partials/spaces' as spaces;
@use '../../styles/partials/breakpoints' as breakpoints;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  position: absolute;
  z-index: 10;
  background-color: rgba(colors.$neutral-0, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 4px;
  border: 1px solid rgba(colors.$neutral-0, 0.25);
  width: 88vw;
}

.header-games {
  position: fixed;
  z-index: 10;
  border: 1px solid colors.$neutral-50;
  background-color: colors.$neutral-0;
  height: 60px;
  box-shadow: 0px 4px 6px 0px #00000005;
}

.logo {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  padding: 0;
  margin: 0;
}

.game-title {
  font-size: typography.$font-size-12;
  font-family: typography.$paragraph-font;
  font-weight: typography.$font-weight-semi-bold;
  color: colors.$neutral-500;
  padding: 0;
  margin: 0;
}

.page-title {
  padding: 0;
  margin: 0;
  font-family: typography.$heading-font;
  font-size: typography.$font-size-16;
  font-weight: typography.$font-weight-extra-bold;
  line-height: typography.$line-height-120;
}

.list {
  background-color: transparent;
  border: none;
  height: 40px;
  display: flex;
  align-items: center;
  // padding: 0 20px 0 0;

  &:hover {
    cursor: pointer;
  }
}

.icon {
  fill: colors.$neutral-0;
  text-shadow: 0px 0px 8px 0px #00000040;
}

.icon-games {
  fill: colors.$primary-500;
}

@media only screen and (min-width: breakpoints.$laptop-min) {
  .header-games {
    background-color: rgba(colors.$neutral-0, 0.65);
    border-radius: 4px;
    border: 1px solid rgba(12, 3, 43, 0.3);
    backdrop-filter: blur(12px);
    height: 72px;
  }

  .side {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

@media only screen and (min-width: breakpoints.$ultra-wide-screen) {
  .header {
    width: 70vw;
  }
}
